.footer {  
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  color: white;

  background: rgb(9,135,35);
  background: linear-gradient(0deg, rgba(9,135,35,1) 0%, rgba(4,38,15,1) 100%);
}


a {
  text-decoration: underline
}

a:hover {
  text-decoration: none;  
}